@keyframes blinkout {
	0%	 { -webkit-transform: scale3d(1,1,1);
			opacity: 1}
	100% { -webkit-transform: scale3d(1.4,1.4,1);
			opacity: 0}
}

.animate-blinkout{
	animation: blinkout 0.8s cubic-bezier(.34,.38,0,1) 2s 1 forwards;
}

.ease-in-out{
	transition: top 0.8s ease-in-out;
}

.ease-transform{
	transition: all 0.7s ease-in-out;
}