#canvas-landing
	display: block
	// position: absolute
	top: 0
	left:	0
	z-index: 10

#logo-container
	position: absolute
	top: calc(50% - 100px)
	left: calc(50% - 76px)
	z-index: 20
	// height: 200px
	img
		display: inline-block
		float: left
		height: 200px
	p
		display: inline-block
		float: left
		font-size: 102px
		font-family: "ailerons"
		line-height: 200px
		margin: 0
		padding-left: 40px 

.background
		background-size: cover
		background-repeat: no-repeat
		height: 200%
		position: absolute
		top: 0
		left: 0
		width: 200%

.vertical-center
	display: flex
  align-items: center
  justify-content: center

.full-height
	height: 100%

.no-padding
	padding: 0